<html>
  <body style="background-color:#111111; color: lightgray;">
    
    <h1> Welcome to Chirpus Pizza </h1>
    <h2> Menu </h2>
    <br>
    <h2>Search by Category</h2>
    <p>Please select the category you wish to search by. Once one search is complete, press "Reset" to view the entire menu again.</p>
    
    <select id="itemCat">
      <option value="blankFirstSelection"></option>
      <option value="Food">Food</option>
      <option value="Drink">Drink</option>
      <option value="Pizza">Pizza</option>
      <option value="Merch">Merch</option>
      <option value="Other">Other</option>
    </select>

    <button (click)="getByCategory()">Search</button>
    <button (click)="Reset()">Reset</button> <!--clicking this returns to whole list of products.-->

    <div style="border:solid 3px green;" *ngFor="let mi of items; index as i">
      <br>
      <p style="font-weight: bold;" >(#{{i+1}})</p>
      <p>Name: {{mi.name}}</p>
      <p>Price: ${{mi.price}}</p>
      <h2>Category: {{mi.category}}</h2>
     
      <br>
    </div>

  </body>

</html>
